body {
  margin: 0px;
  overflow: hidden;
  background-color: white;
  font-family: times;
}

.rect {
	fill:white;
}

.menu-container {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: space-around; 
}

.radarCircle{
  fill-opacity: 0.8;
}

.y_label{
	color: black;
  fill-opacity: 1;
}